@import url('https://fonts.googleapis.com/css2?family=Ephesis&display=swap');

body {
    background-color: rgb(141, 48, 48);
    font-family: 'Ephesis', cursive;
  }
  main#container {
    background-color: rgb(56, 54, 54);
    box-shadow: 5px 10px 25px #111111;
    border-radius: 30px;
  }
  
  h1.titulo {
    color: wheat;
    font-size: 48px;

  }
  
  p.frase {
    color: white;
    font-size: 24px;
    line-height: 40px;
    margin-left: 18px;
    margin-right: 20px;
  }
  
  p.autor {
   color: wheat;
    font-size: 20px;
    margin-right: 30px;
  }